*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;

    font-family: 'Poppins', sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.usage-div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

h1{
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 0.5rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 0.5rem;
    line-height: 1.5;
}

p {
    text-align: center;
    color: #333;
    padding: 0.5rem;
}

button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

label > a {
    color: #333;
    text-decoration: none;
}

label > a:hover {
    color: #333;
    cursor: pointer;
}

#myChart{
    width: 100%;
    max-height: 250px;
    max-height: 300px;
}

#modal {
    display: flex;
    flex-direction: row;
}

.content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.close.icon{
    align-self: unset;
    top: auto;
    position: unset;
}

@media screen and (max-width: 768px) {
    #modal {
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 100%;
    }
    .close.icon{
        align-self: flex-end;
        top: 5%;
        position: fixed;
    }
    #myChart{
        width: 100%;
        max-height: 250px;
        max-height: 300px;
    }
}